<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    
   <section class="orders light-section">
    <div class="container mx-auto px-16 py-10">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <% if (success_msg.length>0) { %>
            <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
                <p> <%= success_msg %></p>
            </div>
        <% } %>
        <table class="w-full table-auto bg-white">
            <thead>
                <th class="px-4 py-2 text-left">Orders</th>
                <th class="px-4 py-2 text-left">Items</th>
                <th class="px-4 py-2 text-left">Phone</th>
                <th class="px-4 py-2 text-left">Address</th>
                <th class="px-4 py-2 text-left">Time</th>
            </thead>
            <tbody>
                <% if (orders.length) { %>
                 <% orders.forEach(order => { %>
                    <tr>
                        <td class="border px-4 py-2">
                            <a class="link" href="/customers/orders/<%= order._id  %>"><%= order._id%></a>
                        </td>
                        <td class="border px-4 py-2">
                            <ul>
                                <% for (let key in order.items) { %>
                                    <li><%= order.items[key].item.name %> - <%= order.items[key].qty %> pcs</li>
                                <% } %>
                            </ul>
                        </td>
                        <td class="border px-4 py-2">
                            <%= order.phone %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= order.address %>
                        </td>
                        <td class="border px-4 py-2">
                           <%= moment(order.createdAt).format('hh:mm A') %>
                        </td>
                    </tr>
                 <% }) %>
                
                
                <% } else { %>
                    <tr>
                        <td class="p-4"><span>No orders found!</span></td>
                    </tr>
                    <% } 
                %>
            </tbody>
        </table>
    </div>
   </section>
    
    <%- include('../partials/script') %>
</body>
</html>
